# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/ffmpeg_study/v17/Browse.VC.opendb
/.vs/*
/.vs/ffmpeg_study/v17/Solution.VC.db-wal
/.vs/ffmpeg_study/v17/Solution.VC.db-shm
/Debug/ffmpeg_sample_encoder.pdb
/Debug/ffmpeg_simple_player.pdb
/Debug/sdl2_test.pdb
